{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        
        <table width="100%">
        
            <thead>
                <tr> 
                    <th>MEMBER</th>
                    <th>EMAIL</th>
                    <th>WEIGHT</th>
                    <th>HEIGHT</th>
                    <th>INFO</th>
                </tr>
            </thead>
            <tbody>

                {% for member in members %}
                <tr>
                    <td> 
                        <span style="background-image: url({{ member.avatar }})"> 
                        </span>
                        {{ member.name }} 
                    </td>
                    <td> {{ member.email }} </td>
                    <td> {{ member.weight }}kg </td>
                    <td> {{ member.height }}cm </td>
                    <td> <a href="/members/{{member.id}}"><span class="material-icons">info</span></a></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

        <div class="icon">
            <a href="/members/register"> <span class="material-icons"> add_circle </span> </a>
        </div>
        
    </div>

{% endblock content %}