<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    {% block head %} 

        <title>Gym Manager</title> 
        
    {% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="fonts">
    <link rel="stylesheet" href="/styles.css">
    
</head>
<body style="background: url('https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center / cover">
    <header>
        <div id="menu">
            <a href="/instructors">Instructors</a>
            <a href="/members">Members</a>
        </div>
    </header>

    {% block content %} {% endblock %}
<script src="/scripts.js"></script>
    
</body>
</html> 


