@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 30px;
    
    box-sizing: border-box;
}


header a {
    font-family: 'Roboto', sans-serif;
    color: seashell;
    text-decoration: none;
    width: 100%;
    position: relative;
}

header a + a {
    margin-left: 20px;
}

header a.active {
    font-weight: bold;
}

#menu a:after {
    content: "";
    width: 0;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -3px;
}

#menu a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}