<div class="item">
        <div>Avatar</div>
        <input type="url" name="avatar" placeholder="http://" value="{{ instructor.avatar }}">
    </div>

    <div class="item">
        <div>Name</div>
        <input type="text" name="name" placeholder="Complete Name" value="{{ instructor.name }}">
    </div>

    <div class="item">
        <div>Birth</div>
        <input type="date" name="birth" id="" value="{{ instructor.birth }}">
    </div>

    <div class="item">
        <div>Modalities</div>
        <select name="modalities">
            <option value=""></option> 
            <option value="CrossFit" {% if instructor.modalities == "CrossFit" %}
            selected
            {% endif %}>CrossFit</option> 
            <option value="Muay Thai" {% if instructor.modalities == "Muay Thai" %}
            selected
            {% endif %}>Muay Thai</option>
            <option value="Spinning" {% if instructor.modalities == "Spinning" %}
            selected
            {% endif %}>Spinning</option>
        </select>
    </div>

    <div class="item" id="period_checkbox">
        <div>Period</div>
        <input type="checkbox" class="p1" name="period" value="Morning" {% if instructor.period == "Morning" %}
            checked
            {% endif %}> <label for="p1">Morning</label>
        <input type="checkbox" class="p2" name="period" value=" Afternoon" {% if instructor.period == " Afternoon" %}
            checked
            {% endif %}> <label for="p2">Afternoon</label>
        <input type="checkbox" class="p3" name="period" value=" Night" {% if instructor.period == " Night" %}
            checked
            {% endif %}> <label for="p3">Night</label>
    </div>

    <div class="item">
        <button type="submit" class="button-submit">Submit</button>
    </div>
</div>
<script>

const button = document.querySelector("#button-submit")

button.addEventListener("click", function(event){

const cb1 = document.querySelector(".p1")
const cb2 = document.querySelector(".p2")
const cb3 = document.querySelector(".p3")

    if (!cb1.checked && !cb2.checked && !cb3.checked) {
        event.preventDefault()
        window.alert("Please, choose at least one period")
        }
        
})

</script>