{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">

        <table width="100%">

        <div class="header">
            
            <a href="/instructors/register"> <span class="material-icons"> add_circle </span> </a>
           
            <form action="/instructors" method="GET">
                <input type="text" name="filter" placeholder="Name, modality, period" value="{{filter}}">
                <button type="submit">FILTER</button>
            </form>

        </div>
    
            <thead>
                <tr> 
                    <th>INSTRUCTOR</th>
                    <th>MODALITY</th>
                    <th>PERIOD</th>
                    <th>STUDENTS</th>
                    <th>INFO</th>
                </tr>
            </thead>
            <tbody>

            {% for instructor in instructors %}
                <tr>
                    <td> 
                        <span style="background-image: url({{ instructor.avatar }})"> 
                        </span>
                        {{ instructor.name }} 
                    </td>
                    <td> <p>{{ instructor.modalities }}</p> </td>
                    <td> {{ instructor.period }} </td>
                    <td> {{ instructor.total_students }} </td>
                    <td> <a href="/instructors/{{instructor.id}}"><span class="material-icons">info</span></a></td>
                </tr>
            {% endfor %}

            </tbody>
            
        </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}} 
            data-filter={{filter}} 
        ></div>

    </div>

{% endblock content %}