{% extends "layout.njk" %}

{% block content %}

    <section class="card">
        
        <section class="image" style="background: url('{{member.avatar}}') no-repeat center / cover">
        </section>
        
        <section class="details">   

            <div>
                <form action="/members/?_method=PUT" method="POST">
                    <h3>MEMBER EDIT</h3>
        
                    {% include 'members/fields.njk' %}
        
                    <input type="hidden" name="id" value="{{ member.id }}">
                
                </form>
            </div>
    
            <div>
                <form id="form-delete" action="/members?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value="{{ member.id }}">
                    <button type="submit" class="button-submit">DELETE</button>
                </form>

                <script>

                    const formDelete = document.querySelector("#form-delete")
                    formDelete.addEventListener("submit", function(event){
                        const confirmation = confirm("Delete?")
                            if (!confirmation) {
                                event.preventDefault()
                            }
                    })

                </script>

            </div>

        </section>
    
    </section>

{% endblock content %}